<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-gb">
<head>
  <title>{% block title %}page title{% endblock %} | Real Ales Info</title>
  <link rel="stylesheet" href="{{ STATIC_URL }}css/base.css" media="screen">
  <link rel="shortcut icon" href="{{ STATIC_URL}}img/favicon.ico">
  {% block extra_head %}{% endblock %}
</head>
<body>
<div id="body" class="{% block content-class %}{% endblock %}">
{% block masthead %}
<div id="masthead">
    <ul id="main-nav">
        <li><a href="{% url homepage %}">Home</a></li>
    </ul>
</div>
{% endblock %}
{% block search %}
<div id="search">
    <form id="searchform" action="/search/" method="GET">
        <label for="query">Search for</label><input type="text" size="20" name="q" id="query" />
        <input type="submit" name="submit" value="Go Search" />
    </form>
</div>
{% endblock %}
{% block content %}{% endblock %}

{% block footer %}
{% load listify %}
<ul class="brewerylist">
    {% searchLinks %}
</ul>
{% endblock %}
{% if debug %}
<div id="debug">
  <h2>Queries</h2>
  <p>
    {{ sql_queries|length }} Quer{{ sql_queries|pluralize:"y,ies" }}
    {% ifnotequal sql_queries|length 0 %}
    (<span style="cursor: pointer;" onclick="var s=document.getElementById('debugQueryTable').style;s.display=s.display=='none'?'':'none';this.innerHTML=this.innerHTML=='Show'?'Hide':'Show';">Show</span>)
    {% endifnotequal %}
  </p>
  <table id="debugQueryTable" style="display: none;">
    <col width="1"></col>
    <col></col>
    <col width="1"></col>
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">SQL</th>
      <th scope="col">Time</th>
    </tr>
    </thead>
    <tbody>
    {% for query in sql_queries %}<tr class="{% cycle odd,even %}">
      <td>{{ forloop.counter }}</td>
      <td>{{ query.sql|escape }}</td>
      <td>{{ query.time }}</td>
    </tr>{% endfor %}
    </tbody>
  </table>
</div>
{% endif %}
</div>
{% block extra_js %}{% endblock %}
</body>
</html>
